# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Environment Variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Data (Local & Docker Volumes)
app_data/
backend/app_data/
qdrant_data/
postgres_data/
minio_data/

# OS
.DS_Store
Thumbs.db

UI_references